<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>about us</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about_us.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home_style.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  {% include 'navbar.html' %}
  <section class="full-screen">
    <div class="image-container">
      <img src="static/images/11.jpg">
      <div class="text-overlay">
        <h2>Crafting elegance from clay, our ceramic company brings artistry to life, creating timeless pieces that
          enrich spaces with beauty and sophistication.</h2>
      </div>
    </div>
    <div class="image-container">
      <img src="static/images/22.jpg">
      <div class="text-overlay">
        <h2>At our ceramic company, quality is not just a promise; it's our commitment to perfection. Each piece is
          meticulously crafted, embodying durability, style, and the finest craftsmanship</h2>
      </div>
    </div>
    <div class="image-container">
      <img src="static/images/33.jpg">
      <div class="text-overlay">
        <h2>Innovation is the cornerstone of our ceramic company. From cutting-edge designs to advanced production
          techniques, we push boundaries to deliver products that redefine luxury and elevate interiors.</h2>
      </div>
    </div>
    <div class="image-container">
      <img src="static/images/44.png">
      <div class="text-overlay">
        <h2>With a passion for perfection and a legacy of excellence, our ceramic company stands as a beacon of
          creativity and craftsmanship. From classic designs to contemporary masterpieces, we transform spaces into
          works of art, one tile at a time.</h2>
      </div>
    </div>
  </section>
  <div class="footer">
    <h3>About us</h3>
  </div>
</body>

</html>