<nav>
    <ul>
      <li><a href="{{ url_for('home') }}" class="logo">
        <img src="../static/images/adminlogo.png" alt="">
        <span class="nav-item">Admin DashBoard</span>
      </a></li>
      <li><a href="/admin_dashboard/current-employers">
        <i class="fas fa-id-card"></i>
        <span class="nav-item">Current Employers</span>
      </a></li>
      <li><a href="/admin_dashboard/new_employer">
        <i class="fas fa-user"></i>
        <span class="nav-item">New Employer</span>
      </a></li>
      <li><a href="/admin_dashboard/current-buildings">
        <i class="fas fa-building"></i>
        <span class="nav-item">Current Buildings</span>
      </a></li>
      <li><a href="/admin_dashboard/new_building">
        <i class="fas fa-building"></i>
        <span class="nav-item">New Bulding</span>
      </a></li>
      <li><a href="/admin_dashboard/work_evaluation">
        <i class="fas fa-thermometer"></i>
        <span class="nav-item">work evaluation</span>
      </a></li>
    
      <li><a href="/" class="logout">
        <i class="fas fa-sign-out-alt"></i>
        <span class="nav-item">Log out</span>
      </a></li>
    </ul>
  </nav>