<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Slider</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/appointment_employe.css') }}">
</head>

<body>
    <div class="container">
        {% include 'training_sidemenu.html' %}

        <div class="container">

            <div class="course-card1">
                <video src="{{ url_for('static', filename='videos/كورس التوظيف والاختيار _ Recruitment and Selection Course(360P).mp4') }}" controls
                    poster="{{ url_for('static', filename='images/pppp.jpg') }}"> </video>

                <h2>Recruitment and selection course</h2>
                <p>VIEW FULL PLAYLIST</p>
            </div>

            <div class="course-card2">
                <video src="{{ url_for('static', filename='videos/توظيف الموارد البشرية من أوله لأخره مع تركات الأحتراف(360P).mp4') }}" controls
                    poster="{{ url_for('static', filename='images/ppp.jpg') }}"></video>

                <h2>Employing human resources from beginning to end</h2>
                <p>VIEW FULL PLAYLIST</p>
            </div>

            <div class="course-card3">
                <video src="{{ url_for('static', filename='videos/إدارة التوظيف .. التعريف والمراحل وافضل التطبيقات(360P).mp4') }}" controls
                    poster="{{ url_for('static', filename='images/ppppp.jpg') }}"></video>

                <h2>Recruitment management: definition, stages</h2>
                <p>VIEW FULL PLAYLIST</p>
            </div>

            <div class="course-card4">
                <video src="{{ url_for('static', filename='videos/HR- The Recruitment Process - خطوات عملية التوظيف(360P).mp4') }}" controls
                    poster="{{ url_for('static', filename='images/ppppppp.jpg') }}"></video>
                <h2>Recruitment process steps</h2>
                <p>VIEW FULL PLAYLIST</p>
            </div>

           
        </div>
    </div>
</body>

</html>
