<span style="font-family: verdana, geneva, sans-serif;"><!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8" />
      
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/admin_dashboard.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    </head>
    <body>
      <div class="container">
        {% include 'admin_sideMenu.html' %}

    
        <section class="main">
          <div class="main-top">
            <h1>Current Employers</h1>
            <i class="fas fa-user-cog"></i>
          </div>
          <div class="main-skills">
            <div class="card">
              <i class="fas fa-id-card"></i>
              <h3>Current Employers</h3>
              <p>{{ access_zero_count }}</p>
              
             
            </div>
            <div class="card">
              <i class="fa fa-check-square"></i>
              <h3>Check in Numbers</h3>
              
              
            </div>
            <div class="card">
              <i class="fa fa-building"></i>
              <h3>Buldings in Use</h3>
              
             
            </div>
            <div class="card">
              <i class="fas fa-thermometer"></i>
              <h3>Consumption</h3>
            
              
            </div>
          </div>
          <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Password</th>
                    <th>Access</th>
                    <th>Building</th>
                </tr>
            </thead>
            <tbody>
                {% for employer in employers %}
                <tr>
                    <td>{{ employer.name }}</td>
                    <td>{{ employer.password }}</td>
                    <td>{{ employer.access }}</td>
                    <td>{{ employer.building }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
          
              </div>
            </div>
          </section>
        </section>
      </div>
    </body>
    </html></span>