<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/employer_dashboard.css') }}">
</head>

<body>
    <h1>Check in page</h1>
    <form id="myForm">
        <div class="radio">
            <label for="bus">Bus:</label>
            <input type="radio" id="bus" name="vehicle" value="bus"><br>
        </div>
        <div class="radio">
            <label for="car">Car:</label>
            <input type="radio" id="car" name="vehicle" value="car"><br>
        </div>
        <div class="radio">
            <label for="home">Home:</label>
            <input type="radio" id="home" name="vehicle" value="home"><br>
        </div>
        <label for="dropdown">Apartment:</label>
        <select id="dropdown" name="dropdown">
            <option value="Marketing">Marketing</option>
            <option value="production">production</option>
            <option value="management">management</option>
            <option value="Human Resources">Human Resources</option>
        </select><br>
    </form>
    <button type="button" onclick="submitForm()">Submit</button>
    <button ><a href="{{ url_for('home') }}" style="color: white;">Go Back</a></button>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <h2>History</h2>
    <table id="historyTable">
        <thead>
            <tr>
                <th>Checked</th>
                <th>Dropdown</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody id="historyList"></tbody>
    </table>
    <script>
        function submitForm() {
            var form = document.getElementById('myForm');
            var formData = new FormData(form);
            var historyList = document.getElementById('historyList');
            var historyTable = document.getElementById('historyTable');
            var listItem = document.createElement('tr');
            var radios = document.querySelectorAll('input[type="radio"]');
            var selectedRadio = Array.from(radios).find(radio => radio.checked);
            var selectedVehicle = selectedRadio ? selectedRadio.value : "";
            var dropdownValue = document.getElementById('dropdown').value;
            var checkedCell = document.createElement('td');
            checkedCell.textContent = selectedVehicle;
            var dropdownCell = document.createElement('td');
            dropdownCell.textContent = dropdownValue;
            var timeCell = document.createElement('td');
            timeCell.textContent = new Date().toLocaleString();
            listItem.appendChild(checkedCell);
            listItem.appendChild(dropdownCell);
            listItem.appendChild(timeCell);
            historyList.appendChild(listItem);
            form.reset();
        }


    </script>
</body>

</html>