<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Slider</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/GHR.css') }}">
</head>

<body>
    <a href="{{ url_for('vistor') }}" class="arrow-icon">
        <div class="arrow"></div>
        <span>GO HOME</span>
    </a>

    
    <div class="slider">
        <div class="list">
            <div class="item">
                <img src="static/images/bre3.jpg" alt="">
                <div class="content">
                    <div class="title">ADVANTAGES OF <font color="green">G</font>
                        <font color="blue">H</font>
                        <font color="black">R</font>
                        <font color="red">M</font>
                    </div>
                    <div class="type">
                        <font color="white">H</font>ealthy work environment
                    </div>
                    <div class="type">
                        <font color="white"> e</font>cological balance
                    </div>
                    <div class="type">
                        <font color="white">r</font>ebates and taxes Benefit
                    </div>
                    <div class="type">
                        <font color="white">l</font>ess cost
                    </div>
                    <div class="type">
                        <font color="white">f</font>lexibity
                    </div>
                    <div class="description">
                        
                      
                    </div>
                    <div class="boy">
                    <div class="xx">a</div>
                    <div class="xp">a</div>
                    <div class="xo">a</div>
                    <div class="xi">a</div>
                    <div class="xy">a</div>
                    </div>
                    <details class="qweo"> 
                     <summary class="qwro"> SEE MORE</summary>   
                     <div class="nono">
                        <em>streamlined HR processes </em>
                        <em>effcient data management</em>
                        <em>improved decision making</em>
                        <em>EnHanced employee engagement</em>
                        <em>compliance and risk management</em>
                     </div>
                    </details>
                </div>
            </div>
            <div class="item">
                <img src="static/images/ghrm22.jpg" alt="">
                <div class="content">
                    <div class="title2">
                        <font color="green">g</font>
                        <font color="yellow">h</font>
                        <font color="red">r</font>
                        <font color="blue">m</font>
                        <font color="white">PRACTICES</font>
                    </div>
                    <div class="type1">
                        <font color="white">g</font>REEN RECRUITMENT
                    </div>
                    <div class="type1">
                        <font color="white">G</font>REEN PERFORMANCE MANAGEMENT
                    </div>
                    <div class="type1">
                        <font color="white">g</font>REEN TRAININg AND Development
                    </div>
                    <div class="type1">
                        <font color="white">g</font>reen INitiatives
                    </div>
                    <div class="type1">
                        <font color="white">g</font>reen BuilDing
                    </div>
                    <div class="type1">
                        <font color="white">g</font>reen compensation
                    </div>
                    <div class="xz">a</div>
                    <div class="x2">a</div>
                    <div class="x3">a</div>
                    <div class="x4">a</div>
                    <div class="x5">a</div>
                    <div class="x6">a</div>
                </div>
            </div>
            <div class="item">
                <img src="static/images/bre3.jpg" alt="">
                <div class="content">
                    <div class="title3">
                        <font color="white">c</font>
                        <font color="white">o</font>
                        <font color="white">n</font>
                        <font color="white">c</font>
                        <font color="white">e</font>
                        <font color="white">p</font>
                        <font color="white">t</font>
                        <font color="white">s</font>
                    </div>
                    <div class="type2"> the concept of green HRM is to create awarc among employees and make them to
                        practice the eco friendly system ia an organization as well as environment .By practiciency
                        green HRM iT help AND result a greater efficiency and beter employee engagement .
                        IT mainly helps the organization to reduce the fooy print like electonic filling .
                        car sharing tele conferencing virtual interviews online training recycling endrgy efficient
                        office space and tele communication
                    </div>
                    <div class="title2">
                        <font color="white">d</font>
                        <font color="white">e</font>
                        <font color="white">f</font>
                        <font color="white">i</font>
                        <font color="white">n</font>
                        <font color="white">i</font>
                        <font color="white">t</font>
                        <font color="white">i</font>
                        <font color="white">o</font>
                        <font color="white">n</font>
                    </div>
                    <div class="type3"> green HR is the use of hrm policies to promote the sustainable use of resources
                        within business organizations and more generallay
                        . promotes the cause of environmental sustainability
                    </div>
                    <div class="description1">
                        <div class="title1">
                            <font color="gray">e</font>
                            <font color="gray">l</font>
                            <font color="gray">e</font>
                            <font color="gray">m</font>
                            <font color="gray">e</font>
                            <font color="gray">n</font>
                            <font color="gray">t</font>
                            <font color="gray">s</font>
                        </div>
                        <div class="type4"> GREEN HR IN VOLVES TWO ESSENTIAL ELEMENTS</div>
                        <div class="type4"> environmentally-feiendly HR practiees</div>
                        <div class="type4"> the preservation of knowledge capital</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="static/images/ter.jpg" alt="">
                <div class="content">
                    <div class="title10">
                        <font color="white">MEANINGS</font>
                        <font color="white"> OF</font>
                        <font color="white">GREEN</font>
                        <font color="white"> in</font>
                        <font color="white"> THE</font>
                        <font color="white">CONTEXT</font>
                        <font color="white"></font>
                        <font color="white"> Hrm</font>
                    </div>
                    <div class="typea">preservationist</div>
                    <div class="typeb">conservationist</div>
                    <div class="typea"> non-polluter</div>
                    <div class="typeb">MARKER</div>
                    <div class="description">
                        <div class="title5">GHRM REQUiREMENTS </div>
                        <div class="type9"> green attitude</div>
                        <div class="type9">green behaviors</div>
                        <div class="type9">green compeloncies</div>
                        <div class="type9">green results</div>
                        <div class="xxx">a</div>
                        <div class="xxxx">a</div>
                        <div class="xxxxx">a</div>
                        <div class="xxxxxx">a</div>
                        <div class="xxxxxxx">a</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="item">
                <img src="static/images/bre3.jpg" alt="">
            </div>
            <div class="item">
                <img src="static/images/ghrm22.jpg" alt="">
            </div>
            <div class="item">
                <img src="static/images/bre3.jpg" alt="">
            </div>
            <div class="item">
                <img src="static/images/ter.jpg" alt="">
            </div>
        </div>
        <div class="nextPrevArrows">
            <button class="prev"><</button>
            <button class="next">></button>
        </div>
    </div>

    <script>
        let nextBtn = document.querySelector('.next')
        let prevBtn = document.querySelector('.prev')

        let slider = document.querySelector('.slider')
        let sliderList = slider.querySelector('.slider .list')
        let thumbnail = document.querySelector('.slider .thumbnail')
        let thumbnailItems = thumbnail.querySelectorAll('.item')

        thumbnail.appendChild(thumbnailItems[0])

        // Function for next button 
        nextBtn.onclick = function() {
            moveSlider('next')
        }

        // Function for prev button 
        prevBtn.onclick = function() {
            moveSlider('prev')
        }

        function moveSlider(direction) {
            let sliderItems = sliderList.querySelectorAll('.item')
            let thumbnailItems = document.querySelectorAll('.thumbnail .item')

            if (direction === 'next') {
                sliderList.appendChild(sliderItems[0])
                thumbnail.appendChild(thumbnailItems[0])
                slider.classList.add('next')
            } else {
                sliderList.prepend(sliderItems[sliderItems.length - 1])
                thumbnail.prepend(thumbnailItems[thumbnailItems.length - 1])
                slider.classList.add('prev')
            }

            slider.addEventListener('animationend', function() {
                if (direction === 'next') {
                    slider.classList.remove('next')
                } else {
                    slider.classList.remove('prev')
                }
            }, { once: true }) // Remove the event listener after it's triggered once
        }
    </script>
</body>

</html>
