<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Slider</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/human_resource_train.css') }}">
</head>

<body>

    <div class="container">
        {% include 'training_sidemenu.html' %}










        <div class="container">


            <div class="course-card1">
                <video src="{{ url_for('static', filename='videos/video1.mp4') }}" controls
                    poster="{{ url_for('static', filename='images/mm.jpg') }}"></video>

                <h2>Human resources management course





                    et3alem.com

                    Playlist

                </h2>
                <p> VIEW FULL PLAYLIST</p>
            </div>



            <div class="course-card2">
                <video
                    src="{{ url_for('static', filename='videos/كورس HR _ مقدمة في علم الموارد البشرية Human resources(360P).mp4') }}"
                    controls poster="{{ url_for('static', filename='images/hr3.jpg') }}"></video>

                <h2>HR course | Introduction to human resources science</h2>
                <p> VIEW FULL PLAYLIST </p>

            </div>


            <div class="course-card3">

                <video src="{{ url_for('static', filename='videos/الاعداد لاستقبال الموظفين الجدد(360P).mp4') }}"
                    controls poster="{{ url_for('static', filename='images/pp.jpg') }}"></video>

                <h2>Preparing to receive new employees</h2>
                <p>VIEW FULL PLAYLIST</p>
            </div>



            <div class="course-card4">
                <video src="{{ url_for('static', filename='videos/تخطيط الموارد البشرية(360P).mp4') }}" controls
                    poster="{{ url_for('static', filename='images/pl2.jpg') }}"></video>
                <h2>Human resources planning</h2>
                <p>VIEW FULL PLAYLIST</p>

            </div>


        </div>





</html>
</body>