<nav>
    <ul>
        <li><a href="{{ url_for('home') }}" class="logo">
                <img src="../static/images/adminlogo.png" alt="">
                <span class="nav-item">Online Training Courses</span>
        <li><a
                href="/human_resource_train">
                <i class="fas fa-id-card"></i>
                <span class="nav-item">Human resources</span>
            </a></li>
        <li><a
                href="/human_resource_train/appointment_employe">
                <i class="fas fa-user"></i>
                <span class="nav-item">Appointment employee</span>
            </a></li>
        <li><a
                href="/human_resource_train/performance_evaluation">
                <i class="fas fa-building"></i>
                <span class="nav-item">Performance evaluation</span>
            </a></li>
        <li><a href="/" class="logout">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-item">Log out</span>
            </a></li>
    </ul>
</nav>